

/*Uncomment the follwoing lines to move facets to the left*/

/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/

primo-explore prm-search-bookmark-filter,
primo-explore prm-user-area-expandable,
primo-explore button.sign-in-btn-ctm,
primo-explore prm-authentication {
    display: none !important; /* old BO primo login prompt, recommended to be hidden after VE goes live, 2025. Can remove in 2026? */
}
