:root, html, head, body {
    --mat-sys-primary: #51247a;
}

nde-logo {
  width: 0;
  height: 0;
  display: none;
}

/* don't show the initials-icon while we wait for the component to overwrite initials with the username */
body.custom-nde-theme nde-user-area button span {
    background-color: transparent !important;
}

nde-search-filters-side-nav .mat-mdc-checkbox .mat-internal-form-field label > div {
            max-width: 185px;


}
/*nde-search-filters-side-nav {*/
/*    .mat-mdc-checkbox .mat-internal-form-field {*/
/*        label > div {*/
/*            max-width: 185px;*/
/*        }*/
/*    }*/
/*}*/
